<div *ngIf="identity" class="col-lg-1 navigation">
  <H1>{{title}}</H1>
</div>

<div class="clearfix"></div>

<div *ngIf="identity" class="col-lg-11 central">
<p>estas logueado en la aplicacion</p>
</div>

<div class="col-lg-12 d-flex" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <form class="col-md-7" #LoginForm="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <label>Correo Electrónico:</label>
        <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required />
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required />
      </p>
      <input type="submit" value="ENTRAR" class="btn btn-primary"/>
    </form>
  </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
    <form class="col-md-10" #RegisterForm="ngForm">
      <p>
        <label>Nombre:</label>
        <input type="text" name="name" class="form-control" required />
      </p>
      <p>
        <label>Apellido:</label>
        <input type="text" name="surname" class="form-control" required />
      </p>
      <p>
        <label>Correo Electrónico:</label>
        <input type="email" name="email" class="form-control" required />
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" name="password" class="form-control" required />
      </p>
      <input type="submit" value="Registarse" class="btn btn-primary"/>
    </form>
  </div>
</div>